/* stylelint-disable property-no-vendor-prefix */
.text-gradient {
  background-image: var(--gradient);
  color: #00000000;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  -webkit-background-clip: text;
  background-clip: text;

  & a:not(.button) {
    background: var(--gradient) 0 min(100%, 1.35em) / 100% 1px no-repeat;
    color: inherit;
  }
}

.text-custom-color {
  color: var(--color);
}
